body {
  margin: 0;
  padding: 0;
}

.grid {
  background-color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid .grid__item {
  flex: 0 0 auto;
  width: calc(100%/1 - 0px);
  margin-right: 0px;
  margin-bottom: 10px;
}

.grid .grid__item:nth-child(n) {
  margin-right: 0px;
}

.grid .grid__item:nth-child(1n), .grid .grid__item:last-child {
  margin-right: 0;
}

.grid .grid__item:nth-child(n):nth-last-child(n):nth-of-type(n) {
  margin-bottom: 10px;
}

.grid .grid__item:nth-child(1n + 1):nth-last-child(-n + 1):nth-of-type(n),
    .grid .grid__item:nth-child(1n + 1):nth-last-child(-n + 1) ~ .grid__item {
  margin-bottom: 0;
}

@media (min-width: 500px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .grid .grid__item {
    flex: 0 0 auto;
    width: calc(100%/3 - 10px);
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .grid .grid__item:nth-child(n) {
    margin-right: 15px;
  }

  .grid .grid__item:nth-child(3n), .grid .grid__item:last-child {
    margin-right: 0;
  }

  .grid .grid__item:nth-child(n):nth-last-child(n):nth-of-type(n) {
    margin-bottom: 15px;
  }

  .grid .grid__item:nth-child(3n + 1):nth-last-child(-n + 3):nth-of-type(n),
        .grid .grid__item:nth-child(3n + 1):nth-last-child(-n + 3) ~ .grid__item {
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .grid .grid__item {
    flex: 0 0 auto;
    width: calc(100%/4 - 18.75px);
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .grid .grid__item:nth-child(n) {
    margin-right: 25px;
  }

  .grid .grid__item:nth-child(4n), .grid .grid__item:last-child {
    margin-right: 0;
  }

  .grid .grid__item:nth-child(n):nth-last-child(n):nth-of-type(n) {
    margin-bottom: 25px;
  }

  .grid .grid__item:nth-child(4n + 1):nth-last-child(-n + 4):nth-of-type(n),
        .grid .grid__item:nth-child(4n + 1):nth-last-child(-n + 4) ~ .grid__item {
    margin-bottom: 0;
  }
}

.grid__item__inner {
  padding: 10px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
}

.grid2 {
  background-color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid2 .item2 {
  flex: 0 0 auto;
  width: calc(100%/4 - 0px);
  margin-right: 0px;
  margin-bottom: 0px;
}

.grid2 .item2:nth-child(n) {
  margin-right: 0px;
}

.grid2 .item2:nth-child(4n), .grid2 .item2:last-child {
  margin-right: 0;
}

.grid2 .item2:nth-child(n):nth-last-child(n):nth-of-type(n) {
  margin-bottom: 0px;
}

.grid2 .item2:nth-child(4n + 1):nth-last-child(-n + 4):nth-of-type(n),
    .grid2 .item2:nth-child(4n + 1):nth-last-child(-n + 4) ~ .item2 {
  margin-bottom: 0;
}

@media (min-width: 750px) {
  .grid2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .grid2 .item2 {
    flex: 0 0 auto;
    width: calc(100%/8 - 8.75px);
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .grid2 .item2:nth-child(n) {
    margin-right: 10px;
  }

  .grid2 .item2:nth-child(8n), .grid2 .item2:last-child {
    margin-right: 0;
  }

  .grid2 .item2:nth-child(n):nth-last-child(n):nth-of-type(n) {
    margin-bottom: 10px;
  }

  .grid2 .item2:nth-child(8n + 1):nth-last-child(-n + 8):nth-of-type(n),
        .grid2 .item2:nth-child(8n + 1):nth-last-child(-n + 8) ~ .item2 {
    margin-bottom: 0;
  }
}

.grid2 .item2 .inner2 {
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
}